html,
body {
  min-width: 320px;
  height: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
  color: #24313e;
  font-family: TT2020, monospace;
  font-size: 64px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: #ecf0f1;
}

html {
  overflow-x: auto;
}

body {
  position: relative;
}

div {
  width: 400px;
  height: 64px;
  line-height: 64px;
  left: 50%;
  top: 50%;
  margin: -32px 0 0 -200px;
  position: absolute;
  text-align: center;
}
