<head>
  <title>anosov.me</title>
  <meta charset="utf-8">
  <meta name="description" content="">
  <link rel="icon" href="favicon.ico?20191120">
  <link href="https://fonts.googleapis.com/css?family=Special+Elite&display=swap" rel="stylesheet">
  {{css "css/style"}}
</head>