---
layout: article.njk
title: Retina display media query
date: 2020-07-16
tags: ['post', 'snippet']
permalink: "retina-display-media-query/index.html"
annotation: Some CSS rules for including high-res graphics (2x and 3x).
---

{% include 'title.njk' %}

{% highlight 'css' %}
.logo {
  background: no-repeat url(logo.png);
}

@media
(-webkit-min-device-pixel-ratio: 2),
(min-resolution: 192dpi) {
  .logo {
    background-image: url(logo@2x.png);
    background-size: 128px 72px;
  }
}

@media
(-webkit-min-device-pixel-ratio: 3),
(min-resolution: 288dpi) {
  .logo {
    background-image: url(logo@3x.png);
    background-size: 128px 72px;
  }
}
{% endhighlight %}
